.catalog {
    margin-bottom: 120px;
    &__body {
        margin-bottom: 60px;
    }
    &__headline {
        margin-bottom: 40px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 80px;
        column-gap: 30px;
        @media (max-width: 1430px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 900px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 650px) {
            grid-template-columns: 1fr;
        }
    }
}

/** ПОДКЛЮЧАЕМЫЕ БЛОКИ СЕКЦИЙ **/
@import "../../blocks-bem/card/_card.scss";
@import "../../blocks-bem/raiting/_raiting.scss";
@import "../../blocks-bem/breadcrumbs/_breadcrumbs.scss";
@import "../../blocks-bem/pagination/_pagination.scss";